.wrapper {
  background-color: rgb(199, 199, 176);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.wrapper nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.logo {
  font-size: 1.4rem;
}
